html{
  margin: 0;
  padding: 0;
}

#cerrarS{
text-align: right;    
}

body{
  font-family: 'Handlee', cursive;
  font-size: 13pt;
  background-color: #000;
  padding: 10px;
  margin: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.white{
    font-family: 'Handlee', cursive;
  font-size: 13pt;
  background-color: #ffffff;
  padding: 10px;
  margin: 0;
}

table{
  width: 100%;
  font-size: 11pt;
  align-content: center;
}

table, th, td{
  border: 3px groove #cecece;
  border-collapse: collapse;
  text-align: center;

}


h1{
  font-size: 17pt;
  color: #ffffff;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}

h2{
  font-size: 15pt;
  text-align: left;
  color: #222;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}

h3{
  font-size: 14pt;
  color: #E13300;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}

h6{
  font-size: 10pt;
  color: #fdf3f2;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}

h1 span{
  border: 5px double #000;
  padding: 15px;
}


.section{
  background-color: #cecece;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 600px;
  position: absolute;
  top: 20%;
  left: 30%;
}


form{
  text-align: center;
  margin-top: 0;
}

.submit{
  background-color: #222;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #efefef;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
  width: 300px;  
}

.submit:hover{
  background-color: #555;
}

.administradores{
  background-color: #0d7936;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #efefef;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
  width: 300px;  
}

.administradores:hover{
  background-color: #043617;
}

.crearUsuario{
  background-color: #E74C3C;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
  width: 300px;  
}

.crearUsuario:hover{
  background-color: #F1C40F;
}

input, select{
  margin-bottom: 10px;
  font-size: 11pt;
  padding: 15px 10px 10px;
  border: 1px solid #cecece;
  background-color: #efefef;
  color: #787875;
  border-radius: 5px;
  width: 500px;
  outline: none;
}

.face{
  transform: scale(0.4);
  margin: 0 auto;
  display: block;
  margin-top: -35px;
  margin-bottom: -25px;
}


.copyright{
  font-size: 8pt;
  text-align: right;
  padding-bottom: 10px;
  color: grey;
}

